NODE_ENV=development

FRONTEND_SERVER_URL=http://localhost:3001
BACKEND_SERVER_URL=http://localhost:8001
WS_BACKEND_SERVER_URL=ws://localhost:8001
BACKEND_API_KEY=YOUR_BACKEND_API_KEY
BACKEND_SERVER_URL_2=YOUR_BACKEND_SERVER_URL_2

# AWS Configuration
AWS_REGION=AWS_REGION_VALUE

# AWS Cognito
COGNITO_USER_POOL_ID=COGNITO_USER_POOL_ID_VALUE
COGNITO_CLIENT_ID=COGNITO_CLIENT_ID_VALUE
COGNITO_CLIENT_SECRET=COGNITO_CLIENT_SECRET_VALUE

# For metric
METRIC_ACCESS_KEY=METRIC_ACCESS_KEY_VALUE
METRIC_SECRET_KEY=METRIC_SECRET_KEY_VALUE